<h1>Sessions#welcome</h1>
<p>Find me in app/views/sessions/welcome.html.erb</p>
<% if logged_in? %>
  <h1>You are logged in, <%= current_user.username %></h1>
<% end %>
<% if !logged_in? %>
  <%= button_to "login", login_path, method: :get %>
  <%= button_to "sign up", sign_up_path, method: :get %>
<% else %>
  <%= button_to "logout", logout_path, method: :get %>
<% end %>